body:has(.chart-page) {
	overflow: hidden;
	:global(#root) {
		max-height: 100dvh;
	}
}

.chart-page {
	margin: 16px;
	margin-top: 11px; /* compensate for fieldset legend */
	display: grid;
	grid-template-columns: 1fr 12px auto;
	grid-template-rows: 1fr 8px auto;
	user-select: none;

	fieldset {
		outline: none;
		background-color: var(--bg-secondary);
		border-color: var(--text-tertiary);

		border-style: solid;
		border-width: 1px;
		padding: 0;

		legend {
			margin-left: 16px;
			color: var(--text-secondary);
		}

		:root:not([data-is-dragging*="resize"]) &:hover,
		&:focus-within {
			border-color: var(--accent);
			legend {
				color: var(--accent);
			}
			[data-is-zack="true"] & {
				box-shadow: 0 0 2px var(--accent);
			}
		}
	}

	.chart {
		display: grid; /* to center the loading spinner */
		grid-column: 1;
		grid-row: 1;
	}

	.side-panel {
		grid-column: 3;
		grid-row: 1 / -1;

		display: flex;
		flex-direction: column;

		/* pre-set width to prevent layout shift on load */
		--legend-padding: 16px;
		min-width: calc(var(--legend-width) + var(--legend-padding) * 2);
		/* use min-width instead of width just in case somehow the content overflows */

		.search-bar {
			z-index: 2;
			margin: var(--legend-padding) auto 0;
			width: var(--legend-width);
		}

		.legend-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;

			ol.legend {
				padding: var(--box-shadow-size) var(--legend-padding);
				margin: var(--legend-padding) 0;
			}
			.legend {
				outline: none;
				--box-shadow-size: 10px;
				overflow-x: hidden;

				.info-box {
					position: relative;
					&.unpinned {
						border-color: transparent;
						/* instead of no border to keep size stable */
					}

					.pin-btn {
						position: absolute;
						top: 0;
						right: 0;
						cursor: pointer;
						outline: none;
						border: none;
						background: none;

						color: var(--text-tertiary);
						&:hover {
							color: var(--text-secondary);
						}
						&:is(:active, :focus-visible) {
							color: var(--accent);
						}
						&.pinned:not(:hover, :focus-visible) {
							color: var(--text-primary);
						}
					}
					&:not(:focus, :hover)
						.pin-btn:not(.pinned, :focus-visible) {
						/* visibility hidden would make it inaccessible to tab ;*/
						color: transparent;
					}
				}
			}
		}

		+ .legend-resizer {
			grid-row: 1 / -1;
			grid-column: 2;
		}
	}

	fieldset:has(.control-panel) {
		grid-column: 1;
		grid-row: 3;
	}
	.control-panel {
		display: flex;
		padding: 20px;
		padding-top: 10px;
		gap: 48px;
		align-items: center;
		justify-content: space-evenly;

		.slider {
			flex: 1;
			max-width: 750px;
		}

		.menu-item {
			display: flex;
			gap: 8px;
			justify-content: space-between;
			align-items: center;

			.icon {
				font-size: var(--text-small);
			}
		}
	}
}

.info-box {
	outline: none;
	padding: 6px 6px 4px 6px;
	border: 2px dashed var(--series-color);
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;

	.details {
		margin: 0;
		display: flex;
		gap: 4px;

		span {
			margin: 0;

			&:first-child {
				color: var(--text-secondary);
			}
			&:not(:first-child) {
				&::before {
					content: "|";
					padding-right: 4px;
					color: var(--text-tertiary);
				}
				&:not(:nth-child(2))::before {
					color: var(--text-secondary);
				}
			}
		}
	}

	&.tooltip {
		background-color: rgb(from var(--bg-primary) r g b / 0.7);
		width: fit-content;
		pointer-events: none;
	}

	.legend & {
		background-color: var(--bg-primary);
		width: var(--legend-width);
		box-sizing: border-box;

		&.highlighted {
			box-shadow: 0 0 var(--box-shadow-size) var(--series-color);
		}
	}
}
