:root {
	--text-very-large: 20px;
	--text-large: 17px;
	--text-semi-large: 16px;
	--text-normal: 15px;
	--text-semi-small: 14px;
	--text-small: 13px;
	--text-very-small: 12px;
	@media (max-width: 550px) {
		--text-very-large: 19px;
		--text-large: 16px;
		--text-semi-large: 15px;
		--text-normal: 14px;
		--text-semi-small: 13px;
		--text-small: 12px;
	}
	@media (max-width: 450px) {
		--text-very-large: 18px;
	}

	--bg-primary: #222130;
	--bg-secondary: #181622;

	--text-primary: #e0def4;
	--text-secondary: #a5a1ba;
	--text-tertiary: #5d5b71;

	--accent: #ebbcba;

	--weight-normal: 375;
	--weight-semi-bold: 425;
	--weight-bold: 450;

	&[data-is-zack="true"] {
		--bg-primary: #faf4ed;
		--bg-secondary: #f1e7df;

		--text-primary: #4b4667;
		--text-secondary: #797593;
		--text-tertiary: #b5afba;

		--accent: #ed688e;

		--weight-normal: 400;
		--weight-semi-bold: 475;
		--weight-bold: 550;
	}

	&[data-is-dragging="grab"] * {
		cursor: grabbing !important;
	}
	&[data-is-dragging="resize-column"] * {
		cursor: col-resize !important;
	}
	&[data-is-dragging="resize-row"] * {
		cursor: row-resize !important;
	}

	::-webkit-scrollbar {
		width: 3px;
	}
	::-webkit-scrollbar-thumb {
		background: var(--text-tertiary);
	}
}

body {
	font-family: "Cascadia Code", sans-serif;
	letter-spacing: -0.05ch;

	font-size: var(--text-normal);
	background-color: var(--bg-primary);
	color: var(--text-primary);
	font-weight: var(--weight-normal);

	margin: 0;

	#root {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;

		main {
			flex: 1;
			min-height: 0;
		}
	}
}

@font-face {
	font-family: "Cascadia Code";
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/cascadiacode/v5/qWcsB6-zq5zxD57cT5s916v3aDvbtw.woff2)
		format("woff2");
}
